/*..........Commone css.......*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.container{
    width: 1200px;
    padding: -13px auto;
    margin: 0 auto;
    padding-bottom: 67px;
   
}
img{
    max-width: 100%;
    display: block;

    
}
.bottomDivider{
    position: relative;
}
.bottomDivider::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 6px;
    height: 3px;
    width: 100%;
    background-color: #f1f2f6;
    box-shadow: 0px 2px 2px 0px  rgb(124, 172, 235);
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.colume2{
    width:50%;
    padding: 0 auto;
    margin: 17px auto;
    float: left;
}
.colume3{
    width: 32%;
    padding: 0 15px;
    float: left;
}
.Red-Buttone{
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    color: white;
    font-size: 21px;
    margin-top: 45px;
    border-radius: 12px;
}
/*......../..Commone css.......*/

/*..........Header.......*/

.logo {
    margin-top: -14px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}
.logo img{
    width: 200px;
    margin:50px 12px;
   
}
.primaryNav{
    position: relative;
    
}
.primaryNav ul {
    margin-left: 621px;
    margin-top: -117px;
}
.primaryNav ul li{
   list-style: none;
}
.primaryNav ul li a{
    text-decoration: none;
    display: block;
    float: left;
    padding: 9px;
    font-size: 23px;
    color: black;
    font-weight: 700;
    position: relative;
}
.primaryNav ul li a:hover{
    color: red;

}
.primaryNav ul li a.active{
    color: rgba(241, 11, 11, 0.918);
}
.primaryNav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px solid black;
    margin-left: 5px;
    width: 0;
    height: 10%;
    background-color: red;
    transition: .4s;
    margin-bottom: 47px;
    margin-top: 5px;
}
.primaryNav ul li:hover a::after{
    width: 90%;
}
.active{
 position: relative;
}
.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -48px;
    margin-left: 5px;
    width: 74px;
    height: 5px;
    background-color: red;
    transition: .4s;
}
/*..........Header...end....*/

/*...........hero area...........*/
.colume2 h1{
    font-size: 35px;
}
.colume2 p{
    font-size: 25px;
}
.colume2 .myimges {
    max-width: 100%;
    margin-top: 45px;
    width: 613px;
    margin-left: 2px;
    border-radius: 12px;
}
.contant {
    margin-top: 42px;
    margin-left: 72px;
}

.bottomDivider2{
    position: relative;
}
.bottomDivider2::after {
    content: "";
    display: block;
    position: absolute;
    top: 590px;
    bottom: 6px;
    height: 13px;
    width: 100%;
    background-color: #f1f2f6;
    
}
/*...........hero area.....end......*/

/*...........About section..........*/
.prent-section{
     margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 50px;
}
.imges-section {
   
    max-width: 100%;
    width: 450px;
    margin-left: 105px;
    margin-top: 150px;

}
.imges-section img {
    display: block;
    height: 443px;
    margin-top: 116px;
    box-shadow: 0px 2px 25px 12px rgb(110 220 230);
}
.imges-section{
   position: relative;
}
.imges-section::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 91%;
    height: 100%;
    background-color: red;
    margin-left: -40px;
    margin-bottom: 35px;
    z-index: -1;
}

.content-section {
    margin-top:95px;
    margin-left: 15px;
}
.content-section .about-myself {
    font-size: 20px;
}
.content-section .address p{
    font-size: 18px;

}

.content-section {
    position: relative;
}
.content-section h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 452px;
    width: 15%;
    height: 5px;
    background-color: red;
    margin-left: -5px;
}
.bottomDivider3{
    position: relative;
}
.bottomDivider3::after {
    content: "";
    display: block;
    position: absolute;
    top: 1120px;
    bottom: 6px;
    height: 3px;
    width: 100%;
  background-color: #f1f2f6;
}
/*...........About section..end........*/

/*...........Services section.........*/
.Services-Section{
    margin-top: 30px;
    text-align: center;
    margin-left: 130px;
    font-family: 'Mulish', sans-serif;
}
.Services-Section .contant2-servis-section{
    margin-top: 110px;
    display: inline-block;
}
.contant2-servis-section .after-h2{
    font-size: 33px;
    position: relative;

}
.contant2-servis-section .after-h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    width: 9%;
    height: 5px;
    background-color: rgb(255, 10, 10);
    margin-left: 545px;
}
.contant2-servis-section .p-w8 {
    width: 60%;
    margin: 0px auto -38px;
    font-size: 22px;
    margin-bottom: 40px;
}
.colume3partent .colume3 {
    border: 1px solid #f1f2f6;
    box-shadow: inset 6px 6px 6px 6px #f1f2f6;
}
.colume3partent .fa-code, .fa-cogs, .fa-mobile-alt {
    font-size: 35px;
    border: 22px solid #f1f2f6;
    border-radius: 60px 60px 60px 0px;    
    margin-top: -33px;
    font-size: 26px;
    color: rgb(29, 143, 9);
    background-color: #f1f2f6;
   
   
}
.colume3 p{
    font-size: 19px;
    color: rgb(30, 46, 37);
}
.colume3 h2{
    font-size: 25px;
    color: rgb(30, 46, 37);
}
.bottomDivider4 {
    position: relative;
}
.bottomDivider4::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -216px;
    height: 5px;
    width: 102%;
   background-color: #f1f2f6;

    /*box-shadow: 0px 2px 2px 0px  rgb(124, 172, 235);*/
    margin-left: -42px;
}
/*........../Services section........*/

/*...........Skill Section.............*/
.skill-section {
    background-color: #f1f2f6;
    position: relative;
    margin-top: 210px;
    height: 600px;
    /* margin-left: 120px; */
    padding-left: 145px;
}
.skill-section .edu-h2 {
    COLOR: rgb(24, 123, 236);
    FONT-SIZE: 35px;
    position: relative;
}
.skill-section .edu-h2::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 45%;
    background-color: red;
    top: 47px;
    margin-left: 14px;
}
.skill-section .s-p {
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.skill-section .fa-check {
    color: rgb(72, 179, 23);
    font-size: 24px;
    margin-top: 8px;
}
.skill-section span {
    font-size: 20px;
    margin-left: 11px;
    margin-bottom: 10px;

}
.skill-section .skill-name{
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0;
    text-transform: uppercase;
}
.skill-section .skill-bar{
    height: 22px;
   background-color: #f1f2f6;
    border-radius: 20px;
}
.skill-section .skill-per{
    height: 22px;
    border-radius: 20px;
    position: relative;

}
.skill-section .width-95{
    width: 95%;
    background-color: rgb(14, 197, 14);
}
.skill-section .width-90{
    width: 90%;
    background-color: rgb(31, 162, 223);
}
.skill-section .width-80{
    width: 80%;
    background-color: rgb(218, 255, 7);
    
}
.skill-section .width-60{
    width: 60%;
    background-color: rgb(243, 18, 157);
}
.skill-section .width-98{
    width: 98%;
    background-color: rgb(243, 70, 18);
}
.skill-section .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    top: -35px;
    right: 0;
    transform: translateX(50%);

}
.skill-section .skill-per::after{
  content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(8, 8, 8);
    top: -18px;
    right: 0;
    transform: translateX(50%) rotate(49deg);
}
.colume2-s{
    width: 47%;
    padding: 0 auto;
    margin: 17px auto;
    float: left;
}
/*........../.Skill Section.............*/
/* contact section -----------------------------------------------------------*/
.contact-section {
    padding: 0px;
    background-color: #f1f2f6;
    height: 950px;
    padding-left: 70px;
    font-family: 'Nunito', sans-serif;
    margin-top: -34px;
}
.from form {
    margin-left: -1px;
    border-style: groove;
    background-color: rgb(209, 232, 246);
    padding: 13px;
    border-radius: 60px  0px 60px 0px;
}
.from form input{
    margin: 8px;
    padding: 15px 350px 20px 10px;
    border-radius: 14px;
}
.from form textarea {
    margin: 8px;
    padding: 15px 270px 20px 10px;
    border-radius: 14px;
}
.colume2-c img {
    max-width: 100%;
    height: 501px;
    border-radius: 37px;
    box-shadow: rgb(60, 91, 156) 0px 0px 10px 5px;
    width: 520px;
}
.colume2-c .p2 {
    font-size: 20px;
}
.colume2-n .c-h2{
       font-size: 33px;
       color: rgb(27, 110, 16);
       position: relative;
}
.colume2-n .c-h2::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 18%;
    background-color: red;
    top: 46px;
    margin-left: 4px;
}
.colume2-n .c-p {
    font-size: 20px;
    color: rgb(68, 65, 63);
}
.colume2-c{
    width: 50%;
    margin: 215px auto;
    float: left;
    padding-left: 40px;
    max-width: 100%;
    height: 318px;
}
.colume2-n{
    width: 50%;
    padding: 0 auto;
    margin: 106px auto;
    float: left;
    padding-left: 40px;
    max-width: 100%;
    height: 318px;
}
.Red-Buttone2 {
    padding: 15px;
    margin: auto 149px;
    padding: 15px 45px 15px 45px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}
/* /contact section -----------------------------------------------------------*/
/* footer section */
.footer-section {
    background-color: #2f3542;
    margin: -36px -4px -1px 0px;
    /* box-shadow: 27px 19px 17px 8px red; */
    height: 138px;
    display: flex;
}
.colume2-v .g{
    padding: 12px;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 30px;
    color: chartreuse;
    /* margin-top: -7px; */
}
.footer-section .column2-v .fab{
    font-size: 35px;
    padding-left: 15px;
}
.footer-section .column2-v .fa-facebook{
    font-size: 25px;
    padding-left: 15px;
}
.footer-section .column2-v .fa-twitter{
    font-size: 25px;
    padding-left: 15px;
}
.footer-section .column2-v .fa-linkedin{
    font-size: 25px;
    padding-left: 15px;
}
.footer-section .column2-v .fa-pinterest{
    font-size: 25px;
    padding-left: 15px;
}
.footer-section .column2-v .fa-google-plus{
    font-size: 25px;
    padding-left: 15px;
}
.colume2-m {
    color: white;
    margin: 42px;
    float: left;
    width: 50%;
    margin-left: 104px;
}
.colume2-v {
    color: white;
    /* font-size: 0pc; */
    margin: 1px;
    display: inline-block;
    margin: 15px;
    margin-bottom: -39px;
    padding-top: 44px;
}
/* /footer section */
